##  Premier Data: ë§¤ì¹˜ ì „ì  ë°ì´í„° ë°”íƒ•ìœ¼ë¡œ ìƒˆë¡œìš´ ë°ì´í„° ì œì‘

### 1. âš½ í™ˆ/ì›ì • ë§¤ì¹˜ ê²°ê³¼ë¡œ ìŠ¹ì  ê³„ì‚°

| ì¡°ê±´                        | ìŠ¹ì  |
|-----------------------------|------|
| í™ˆíŒ€ ìŠ¹ë¦¬ (`HomeGoals > AwayGoals` and `FTR == 'H'`) | í™ˆíŒ€ +3 |
| ì›ì •íŒ€ ìŠ¹ë¦¬ (`AwayGoals > HomeGoals` and `FTR == 'A'`) | ì›ì •íŒ€ +3 |
| ë¬´ìŠ¹ë¶€ (ë“ì  ë™ì¼)          | ì–‘ íŒ€ +1 |
| íŒ¨ë°°                        | 0 |

ë§¤ ê²½ê¸°ë§ˆë‹¤ í™ˆíŒ€ê³¼ ì›ì •íŒ€ì— ëŒ€í•´ ê°ê° ìŠ¹ì  ë¶€ì—¬.

---

### 2.  íŒ€ë³„ ì—°ë„ë³„ ìŠ¹ì  í…Œì´ë¸” ìƒì„±

- `Season_end_year` ê¸°ì¤€ìœ¼ë¡œ ì‹œì¦Œ êµ¬ë¶„
- íŒ€ ë‹¨ìœ„ë¡œ í™ˆ/ì›ì • ìŠ¹ì  ëˆ„ì 
- `pivot()`ì„ í†µí•´ `Team x Year` í˜•íƒœë¡œ ë³€í™˜
- ê²°ì¸¡ ì‹œì¦Œ(`NaN`)ì€ `0`ìœ¼ë¡œ ì²˜ë¦¬

| íŒ€ ì´ë¦„         | 1992 | 1993 | ... | 2025 | í•©ê³„ |
|----------------|------|------|-----|------|------|
| Manchester Utd | 84   | 78   | ... | 69   | 2380 |
| Arsenal        | 77   | 82   | ... | 68   | 2297 |
| Tottenham      | 64   | 71   | ... | 70   | 1981 |
| ...            | ...  | ...  | ... | ...  | ...  |

> ê²°ì¸¡ê°’:ì‹œì¦Œì— ì¶œì „í•˜ì§€ ì•Šì€ íŒ€ì€ í•´ë‹¹ ì—°ë„ì— `0`ì ìœ¼ë¡œ ìë™ ì±„ì›€

---

### 3.  ì´í•© ê¸°ì¤€ ìƒìœ„ 10ê°œ íŒ€ ìˆœìœ„í‘œ

| ìˆœìœ„ | íŒ€ ì´ë¦„             | ì´ ìŠ¹ì  |
|------|---------------------|---------|
| 1    | Manchester United   | 2380    |
| 2    | Arsenal             | 2297    |
| 3    | Chelsea             | 2184    |
| 4    | Liverpool           | 2172    |
| 5    | Tottenham           | 1981    |
| 6    | Manchester City     | 1950

In [ ]:
import pandas as pd 
import numpy as np

In [21]:
df = pd.read_csv('origindata/premier-league-matches.csv')

conditions = [
    df['HomeGoals'] == df['AwayGoals'],                         # ë¬´ìŠ¹ë¶€
    (df['FTR'] == 'H') & (df['HomeGoals'] > df['AwayGoals']),   # í™ˆ ìŠ¹
    (df['FTR'] == 'A') & (df['AwayGoals'] > df['HomeGoals'])    # ì›ì • ìŠ¹
]

# ê° ì¡°ê±´ì— ëŒ€ì‘í•˜ëŠ” ê°’
choices = [1, 3, 3]

# ì¡°ê±´ì„ ë§Œì¡±í•˜ì§€ ì•ŠëŠ” ê²½ìš°(íŒ¨ë°°)ëŠ” 0
df['Points'] = np.select(conditions, choices, default=0)

# --- 3) Points ê¸°ì¤€ ì •ë ¬(ë‚´ë¦¼ì°¨ìˆœ) ---
df = df.sort_values(by='Points', ascending=False)

print(df)

      Season_End_Year  Wk        Date           Home  HomeGoals  AwayGoals  \
0                1993   1  1992-08-15  Coventry City          2          1
7460             2011  38  2011-05-22      Tottenham          2          1
7493             2012   3  2011-08-28      West Brom          0          1
7494             2012   3  2011-08-28  Newcastle Utd          2          1
7496             2012   4  2011-09-10         Bolton          0          5
...               ...  ..         ...            ...        ...        ...
4245             2003  21  2002-12-28        Everton          0          0
8282             2014   6  2013-09-28      Tottenham          1          1
6411             2009   9  2008-10-26     Portsmouth          1          1
1715             1996  34  1996-04-06       West Ham          1          1
7601             2012  14  2011-12-03            QPR          1          1

                 Away FTR  Points
0       Middlesbrough   H       3
7460  Birmingham City   H       3
7493       Stoke City   A       3
7494           Fulham   H       3
7496   Manchester Utd   A       3
...               ...  ..     ...
4245           Bolton   D       1
8282          Chelsea   D       1
6411           Fulham   D       1
1715        Wimbledon   D       1
7601        West Brom   D       1

[12026 rows x 9 columns]

In [22]:
output_path = 'dataset/results_with_points.csv' 
df.to_csv(output_path, index=False, encoding='utf-8-sig')

In [31]:
# 2) í™ˆ/ì›ì • ê°ê° ìŠ¹ì  ê³„ì‚° â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
def points_per_side(row):
    if row['HomeGoals'] > row['AwayGoals']:      # í™ˆ ìŠ¹
        return pd.Series({'HomePts': 3, 'AwayPts': 0})
    elif row['HomeGoals'] < row['AwayGoals']:    # ì›ì • ìŠ¹
        return pd.Series({'HomePts': 0, 'AwayPts': 3})
    else:                                        # ë¬´ìŠ¹ë¶€
        return pd.Series({'HomePts': 1, 'AwayPts': 1})

df[['HomePts', 'AwayPts']] = df.apply(points_per_side, axis=1)

# 3) í™ˆÂ·ì›ì • ì •ë³´ë¥¼ í•˜ë‚˜ë¡œ ë¬¶ì–´ íŒ€â€‘ì‹œì¦Œë³„ë¡œ ì§‘ê³„ â”€â”€â”€â”€â”€â”€â”€â”€
home = (
    df[['Season_End_Year', 'Home', 'HomePts']]
      .rename(columns={'Home': 'Team', 'HomePts': 'Points'})
)
away = (
    df[['Season_End_Year', 'Away', 'AwayPts']]
      .rename(columns={'Away': 'Team', 'AwayPts': 'Points'})
)

points_long = pd.concat([home, away], ignore_index=True)

team_season_pts = (
    points_long
      .groupby(['Team', 'Season_End_Year'], as_index=False)['Points']
      .sum()
)

# 4) í”¼ë²—: í–‰=Team, ì—´=Season_end_year â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
pivot = (
    team_season_pts
      .pivot(index='Team', columns='Season_End_Year', values='Points')
)

# 5) ë¹ ì§„ ì‹œì¦Œ(ì—´) 0ìœ¼ë¡œ ì±„ìš°ê³  ì •ë ¬ â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
all_seasons = list(range(1992, 2026))            # 1992â€†~â€†2025

pivot = (
    pivot
      .reindex(columns=all_seasons)   
      .fillna(0)                      
      .astype(int)                    
      .sort_index(axis=1)             
      .sort_index()                   
)

print(pivot.head(5))
pivot.to_csv('dataset/season_points_by_team.csv')

Season_End_Year  1992  1993  1994  1995  1996  1997  1998  1999  2000  2001  \
Team
Arsenal             0    56    71    51    63    68    78    78    73    70
Aston Villa         0    74    57    48    63    61    57    55    58    54
Barnsley            0     0     0     0     0     0    35     0     0     0
Birmingham City     0     0     0     0     0     0     0     0     0     0
Blackburn           0    71    84    89    61    42    58    35     0     0

Season_End_Year  ...  2016  2017  2018  2019  2020  2021  2022  2023  2024  \
Team             ...
Arsenal          ...    71    75    63    70    56    61    69    84     0
Aston Villa      ...    17     0     0     0    35    55    45    61     0
Barnsley         ...     0     0     0     0     0     0     0     0     0
Birmingham City  ...     0     0     0     0     0     0     0     0     0
Blackburn        ...     0     0     0     0     0     0     0     0     0

Season_End_Year  2025
Team
Arsenal             0
Aston Villa         0
Barnsley            0
Birmingham City     0
Blackburn           0

[5 rows x 34 columns]

In [24]:
df2 = pd.read_csv('dataset/season_points_by_team.csv')

df2['sum'] = df2.loc[:, '1992':'2025'].sum(axis=1)

top10 = (
    df2.sort_values(by='sum', ascending=False)
       .reset_index()
       .loc[:, ['Team', 'sum']]
       .rename(columns={'Team': 'íŒ€ ì´ë¦„', 'sum': 'ì´ ìŠ¹ì '})
)

top10.index += 1  # ìˆœìœ„ 1ë¶€í„° ì‹œì‘í•˜ë„ë¡
print(top10)

               íŒ€ ì´ë¦„  ì´ ìŠ¹ì
1    Manchester Utd  2441
2           Arsenal  2225
3           Chelsea  2182
4         Liverpool  2176
5         Tottenham  1847
6   Manchester City  1718
7           Everton  1610
8     Newcastle Utd  1481
9       Aston Villa  1419
10         West Ham  1298
11      Southampton  1088
12        Blackburn   970
13   Leicester City   821
14     Leeds United   820
15           Fulham   692
16    Middlesbrough   664
17       Sunderland   618
18   Crystal Palace   609
19           Bolton   575
20        West Brom   490
21       Stoke City   457
22    Coventry City   409
23     Norwich City   402
24   Sheffield Weds   392
25        Wimbledon   391
26           Wolves   389
27     Charlton Ath   361
28   Wigan Athletic   331
29          Burnley   325
30     Swansea City   312
31              QPR   308
32       Portsmouth   302
33  Birmingham City   301
34          Watford   285
35  Nott'ham Forest   277
36     Derby County   274
37         Brighton   271
38      Bournemouth   250
39     Ipswich Town   224
40    Sheffield Utd   209
41        Hull City   171
42          Reading   119
43        Brentford   105
44  Oldham Athletic    89
45     Cardiff City    64
46    Bradford City    62
47     Huddersfield    53
48        Blackpool    39
49         Barnsley    35
50     Swindon Town    30

## 1. ì›ë³¸ ë°ì´í„°ë¥¼ `íŒ€ Ã— ì—°ë„` í˜•íƒœë¡œ í”¼ë²—í•˜ê¸°

| ë‹¨ê³„ | ì„¤ëª… | í•µì‹¬ ì½”ë“œ |
|------|------|-----------|
| **1â€‘1** | `date` ì—´ì—ì„œ **ì—°ë„(`year`)** ì¶”ì¶œ | `df['year'] = pd.to_datetime(df['date']).dt.year` |
| **1â€‘2** | ë™ì¼ íŒ€â€‘ì—°ë„ì— ì¤‘ë³µ í–‰ì´ ìˆìœ¼ë©´ **Elo í•©ê³„** | ```python df = (df.groupby(['club','year'])['elo'].sum().reset_index())``` |
| **1â€‘3** | `pivot()`ìœ¼ë¡œ **í–‰=club, ì—´=year** | ```python elo_pivot = df.pivot(index='club', columns='year', values='elo').fillna(0)``` |
| **1â€‘4** | CSV ì €ì¥ (ì„ íƒ) | `elo_pivot.to_csv('elo_by_club_year.csv')` |

> ğŸ” **ê²°ê³¼ ì˜ˆì‹œ (ì¼ë¶€)**  
> | club | 2000 | 2001 | â€¦ | 2024 | 2025 |
> |------|------|------|---|------|------|
> | Arsenal | 1820 | 1842 | â€¦ | 1883 | 1871 |
> | Tottenham | 1754 | 1769 | â€¦ | 1804 | 1796 |

---

## 2. ì—°ë„ë³„ Eloâ€¯Ranking ìˆœìœ„ ì‚°ì¶œ & ë¹„êµ

### 2â€‘1. ì—°ë„ë³„ ì „ì²´ ìˆœìœ„ í…Œì´ë¸” 
elo_rank = (
    elo_pivot
      .rank(axis=0,                # ì—´(=ì—°ë„)ë§ˆë‹¤
            method='min',          # ê³µë™ 1ìœ„ â†’ ë‘˜ ë‹¤ 1
            ascending=False)       # Eloê°€ í´ìˆ˜ë¡ 1ìœ„
      .astype('Int64')             # NaN í—ˆìš© ì •ìˆ˜í˜•
)

>  **ê²°ê³¼ ì˜ˆì‹œ (ì¼ë¶€)**  
> | club | 2000 | 2001 | â€¦ | 2024 | 2025 |
> |------|------|------|---|------|------|
> | Arsenal | 3 |  2 | â€¦ | 2| 2 |
> | Tottenham | 8 | 7 | â€¦ | 9 | 6|

In [32]:
elo_df = pd.read_csv('origindata/EloRatings.csv')

elo_df['year'] = pd.to_datetime(elo_df['date']).dt.year

# 3) í´ëŸ½â€‘ì—°ë„ë³„ Elo í•©ê³„ ê³„ì‚° â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
club_year_elo = (
    elo_df.groupby(['club', 'year'], as_index=False)['elo']
      .sum()                                 
)


elo_pivot = (
    club_year_elo
      .pivot(index='club', columns='year', values='elo')
      .fillna(0)    
      .sort_index()                  # í´ëŸ½ëª… ì•ŒíŒŒë²³ìˆœ
      .sort_index(axis=1)            # ì—°ë„ ì˜¤ë¦„ì°¨ìˆœ
)

elo_pivot.to_csv('dataset/elo_by_club_year.csv', encoding='utf-8-sig')

print(elo_pivot.head(5))

year              2000      2001      2002      2003      2004      2005  \
club
A. Sebatspor      0.00      0.00      0.00  16427.07  34666.49  17978.84
AEK           19444.95  39681.05  40632.72  41156.51  39126.56  38014.58
AIK           18556.17  36440.97  35836.32  34818.12  33625.96   1355.09
AVS               0.00      0.00      0.00      0.00      0.00      0.00
AZ Alkmaar    18035.93  34728.58  35671.50  36404.82  37792.83  40076.40

year              2006      2007      2008      2009  ...      2016      2017  \
club                                                  ...
A. Sebatspor      0.00      0.00      0.00      0.00  ...      0.00      0.00
AEK           38402.44  38711.23  39287.52  38180.23  ...  34313.42  35987.20
AIK           31834.22  33242.32  33713.12  33904.42  ...  35497.08  35733.83
AVS               0.00      0.00      0.00      0.00  ...      0.00      0.00
AZ Alkmaar    40831.72  41033.14  37379.36  39315.24  ...  36919.50  36226.31

year              2018      2019      2020      2021      2022      2023  \
club
A. Sebatspor      0.00      0.00      0.00      0.00      0.00      0.00
AEK           38254.73  37262.10  37794.82  35893.30  34598.49  36455.31
AIK           36912.59  36649.10  35189.03  34186.18  35014.01  33067.84
AVS               0.00      0.00      0.00      0.00      0.00      0.00
AZ Alkmaar    36732.06  37732.54  38990.61  39471.55  39884.26  39638.18

year              2024     2025
club
A. Sebatspor      0.00     0.00
AEK           38126.54  7867.81
AIK           32774.48  7154.45
AVS           15291.77  6994.84
AZ Alkmaar    38091.59  8150.34

[5 rows x 26 columns]

In [33]:
# 1) ì—°ë„ë³„ í´ëŸ½ Elo ìˆœìœ„ ê³„ì‚° (1ìœ„ = 1)
elo_rank = elo_pivot.rank(axis=0,      # ì—´(=ì—°ë„)ë³„ë¡œ
                          method='min',# ê³µë™ 1ìœ„ë©´ ë‘˜ ë‹¤ 1
                          ascending=False).astype('Int64')

# 2) íŠ¹ì • ì—°ë„(ì˜ˆ: 2023) Topâ€‘10 ë³´ê¸°
year = 2023
top10_2023 = (
    elo_pivot[year]                 # ì—°ë„ë³„ Elo ì ìˆ˜ ì‹œë¦¬ì¦ˆ
      .nlargest(10)                 # ìƒìœ„ 10ê°œ
      .reset_index()
      .rename(columns={year: 'Elo'})
)
top10_2023['Rank'] = range(1, 11)
print(top10_2023)

# 3) ëª¨ë“  ì—°ë„ì— ëŒ€í•´ Topâ€‘N ì¶”ì¶œ (dict í˜•íƒœ)
def top_n_by_year(pivot, n=5):
    out = {}
    for y in pivot.columns:
        top_n = pivot[y].nlargest(n).reset_index()
        top_n['Rank'] = range(1, n+1)
        out[y] = top_n
    return out

top5_each_year = top_n_by_year(elo_pivot, n=5)

# ì˜ˆì‹œ ì¶œë ¥: 2000ë…„ ìƒìœ„ 5íŒ€
print(top5_each_year[2000])

            club       Elo  Rank
0       Man City  49418.53     1
1  Bayern Munich  47177.39     2
2      Liverpool  46790.29     3
3    Real Madrid  46403.81     4
4        Arsenal  46320.64     5
5         Napoli  45715.20     6
6      Barcelona  45128.61     7
7          Inter  45035.18     8
8      Newcastle  44752.21     9
9     Man United  44598.31    10
          club      2000  Rank
0   Man United  23095.72     1
1     Valencia  22919.52     2
2  Real Madrid  22711.62     3
3        Lazio  22599.97     4
4    Barcelona  22501.50     5